@layer base {
  :root{
    --md-ref-color-primary-0: #000000;
    --md-ref-color-primary-10: #22005d;
    --md-ref-color-primary-20: #381e72;
    --md-ref-color-primary-30: #4f378a;
    --md-ref-color-primary-40: #6750a4;
    --md-ref-color-primary-50: #8069bf;
    --md-ref-color-primary-60: #9a83db;
    --md-ref-color-primary-70: #b69df8;
    --md-ref-color-primary-80: #cfbcff;
    --md-ref-color-primary-90: #e9ddff;
    --md-ref-color-primary-95: #f6eeff;
    --md-ref-color-primary-99: #fffbff;
    --md-ref-color-primary-100: #ffffff;
    --md-ref-color-secondary-0: #000000;
    --md-ref-color-secondary-10: #1e192b;
    --md-ref-color-secondary-20: #332d41;
    --md-ref-color-secondary-30: #4a4458;
    --md-ref-color-secondary-40: #625b71;
    --md-ref-color-secondary-50: #7b748a;
    --md-ref-color-secondary-60: #958da4;
    --md-ref-color-secondary-70: #b0a7c0;
    --md-ref-color-secondary-80: #cbc2db;
    --md-ref-color-secondary-90: #e8def8;
    --md-ref-color-secondary-95: #f6eeff;
    --md-ref-color-secondary-99: #fffbff;
    --md-ref-color-secondary-100: #ffffff;
    --md-ref-color-tertiary-0: #000000;
    --md-ref-color-tertiary-10: #31101d;
    --md-ref-color-tertiary-20: #4a2532;
    --md-ref-color-tertiary-30: #633b48;
    --md-ref-color-tertiary-40: #7e5260;
    --md-ref-color-tertiary-50: #996a79;
    --md-ref-color-tertiary-60: #b58392;
    --md-ref-color-tertiary-70: #d29dad;
    --md-ref-color-tertiary-80: #efb8c8;
    --md-ref-color-tertiary-90: #ffd9e3;
    --md-ref-color-tertiary-95: #ffecf0;
    --md-ref-color-tertiary-99: #fffbff;
    --md-ref-color-tertiary-100: #ffffff;
    --md-ref-color-neutral-variant-0: #000000;
    --md-ref-color-neutral-variant-10: #1d1a22;
    --md-ref-color-neutral-variant-20: #322f38;
    --md-ref-color-neutral-variant-30: #49454e;
    --md-ref-color-neutral-variant-40: #615d66;
    --md-ref-color-neutral-variant-50: #7a757f;
    --md-ref-color-neutral-variant-60: #948f99;
    --md-ref-color-neutral-variant-70: #afa9b4;
    --md-ref-color-neutral-variant-80: #cac4cf;
    --md-ref-color-neutral-variant-90: #e7e0eb;
    --md-ref-color-neutral-variant-95: #f5eefa;
    --md-ref-color-neutral-variant-99: #fffbff;
    --md-ref-color-neutral-variant-100: #ffffff;
    --md-ref-color-error-0: #000000;
    --md-ref-color-error-10: #410002;
    --md-ref-color-error-20: #690005;
    --md-ref-color-error-30: #93000a;
    --md-ref-color-error-40: #ba1a1a;
    --md-ref-color-error-50: #de3730;
    --md-ref-color-error-60: #ff5449;
    --md-ref-color-error-70: #ff897d;
    --md-ref-color-error-80: #ffb4ab;
    --md-ref-color-error-90: #ffdad6;
    --md-ref-color-error-95: #ffedea;
    --md-ref-color-error-99: #fffbff;
    --md-ref-color-error-100: #ffffff;
    --md-ref-color-warning-0: #000000;
    --md-ref-color-warning-10: #22005d;
    --md-ref-color-warning-20: #381e72;
    --md-ref-color-warning-30: #4f378a;
    --md-ref-color-warning-40: #6750a4;
    --md-ref-color-warning-50: #8069bf;
    --md-ref-color-warning-60: #9a83db;
    --md-ref-color-warning-70: #b69df8;
    --md-ref-color-warning-80: #cfbcff;
    --md-ref-color-warning-90: #e9ddff;
    --md-ref-color-warning-95: #f6eeff;
    --md-ref-color-warning-99: #fffbff;
    --md-ref-color-warning-100: #ffffff;
    --md-ref-color-info-0: #000000;
    --md-ref-color-info-10: #22005d;
    --md-ref-color-info-20: #381e72;
    --md-ref-color-info-30: #4f378a;
    --md-ref-color-info-40: #6750a4;
    --md-ref-color-info-50: #8069bf;
    --md-ref-color-info-60: #9a83db;
    --md-ref-color-info-70: #b69df8;
    --md-ref-color-info-80: #cfbcff;
    --md-ref-color-info-90: #e9ddff;
    --md-ref-color-info-95: #f6eeff;
    --md-ref-color-info-99: #fffbff;
    --md-ref-color-info-100: #ffffff;
    --md-ref-color-success-0: #000000;
    --md-ref-color-success-10: #22005d;
    --md-ref-color-success-20: #381e72;
    --md-ref-color-success-30: #4f378a;
    --md-ref-color-success-40: #6750a4;
    --md-ref-color-success-50: #8069bf;
    --md-ref-color-success-60: #9a83db;
    --md-ref-color-success-70: #b69df8;
    --md-ref-color-success-80: #cfbcff;
    --md-ref-color-success-90: #e9ddff;
    --md-ref-color-success-95: #f6eeff;
    --md-ref-color-success-99: #fffbff;
    --md-ref-color-success-100: #ffffff;
    --md-ref-color-neutral-0: #000000;
    --md-ref-color-neutral-4: #0f0e11;
    --md-ref-color-neutral-6: #141316;
    --md-ref-color-neutral-10: #1c1b1e;
    --md-ref-color-neutral-12: #201f22;
    --md-ref-color-neutral-17: #2b292d;
    --md-ref-color-neutral-20: #313033;
    --md-ref-color-neutral-22: #363438;
    --md-ref-color-neutral-24: #3a383c;
    --md-ref-color-neutral-30: #48464a;
    --md-ref-color-neutral-40: #605d62;
    --md-ref-color-neutral-50: #79767a;
    --md-ref-color-neutral-60: #938f94;
    --md-ref-color-neutral-70: #aeaaae;
    --md-ref-color-neutral-80: #cac5ca;
    --md-ref-color-neutral-87: #ddd8dd;
    --md-ref-color-neutral-90: #e6e1e6;
    --md-ref-color-neutral-92: #ece7eb;
    --md-ref-color-neutral-94: #f2ecf1;
    --md-ref-color-neutral-95: #f4eff4;
    --md-ref-color-neutral-96: #f7f2f7;
    --md-ref-color-neutral-98: #fdf8fd;
    --md-ref-color-neutral-99: #fffbff;
    --md-ref-color-neutral-100: #ffffff;
  }
}