@layer base {
  :root{
    --md-ref-typeface-brand: "Roboto";
    --md-ref-typeface-plain: system-ui;
    --md-ref-typeface-weight-bold: 700;
    --md-ref-typeface-weight-medium: 500;
    --md-ref-typeface-weight-regular: 400;
  }
}
